	Options +FollowSymLinks
        IndexIgnore */*
	RewriteEngine on         
	  Options +ExecCGI

        # if a directory or a file exists, use it directly
        RewriteCond %{REQUEST_FILENAME} !-f
        RewriteCond %{REQUEST_FILENAME} !-d

        # otherwise forward it to index.php
        RewriteRule . index.php
	Allow from all 

	# AddType application/x-httpd-php .php
	# AddType application/xml .xml
	
